GROQ_API_KEY=apikey
GOOGLE_API_KEY=apikey
TOGETHER_API_KEY=apikey
OPENROUTER_API_KEY=apikey
CEREBRAS_API_KEY=apikey
HYPERBOLIC_API_KEY=apikey

TELEGRAM_BOT_TOKEN=tg_token
TELEGRAM_CHAT_ID=-chatid   # your user/chat ID where you receive alerts 